<% layout('layouts/boilerplate') %>

<h1 class="text-center mb-3">Edit Favorites list</h1>

<div class="container mb-4">

    <form action="/favorites?_method=PUT" method="POST">

        <div class="row">
            <% for(let i = 0; i < user.favorites.length; i++) { %>
            <div class="col-md-4">
                <div class="card shadow">
                    <% if(!user.favorites[i].featured_image) { %>
                    <img id=" blah" class="card-img-top"
                        src="https://images.unsplash.com/photo-1515669097368-22e68427d265?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHN8ZW58MHwwfDB8&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <% } %>
                    <img src="<%=user.favorites[i].featured_image%>" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title"><%=user.favorites[i].name%></h3>
                        <p class="card-text"><strong>Rating:</strong> <%=user.favorites[i].averageRating%></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">

                            <p class="card-text"><strong>Phone Number:</strong> <%=user.favorites[i].phoneNumber%></p>
                        </li>
                        <li class="list-group-item"><strong>Hours of Operation:</strong> <%=user.favorites[i].timings%>
                        </li>
                    </ul>
                    <button class="btn btn-danger" value="<%=user.favorites[i]._id%>" name="id">Remove from
                        favorites</button>
                </div>

            </div>
            <% } %>
        </div>
    </form>
</div>
