<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css">


<div id="title" class="py-4">
    <h1 class="mb-4">Begin your search</h1>
    <h3 class="title mb-0">Don't see your location? Add one right here!</h3>

    <div class="mb-3">
        <div class="">
            <form action="/hangry" class="needs-validation " id="searchForm" method="POST" novalidate>
                <div class="mb-2 ">
                    <label class="form-label" for="location"></label>
                    <input id="btn" class="form-control mx-auto" type="text" id="location" name="location"
                        placeholder="For example: Mississauga, Toronto" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button id="btn" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>
</div>
<!-- <button id="button1" class="ml-2 btn btn-dark d-inline">
    <a href="/hangry/searchLocation">Add a new location</a>
</button> -->
</div>

<!-- Discover the best food & drinks in New York City, NY -->
<div id="main" class="container my-4 mh-75">
    <h2 id="title2" class="pb-3 mt-2 text-center">All Locations</h2>
    <div class="mx-1 text-center row">
        <% for(let hangry of hangryz) { %>
        <div class="col-md-12 col-lg-4">
            <div class="card rounded-1 my-2">
                <div class="card-body bg-light">
                    <h3 class="card-title mb-3"><%=hangry.title%></h5>
                        <!-- <p class="card-text">Category: <%=hangry.entity_type%></p>
                        <p class="card-text text-muted">Entity Number: <%=hangry.entity_id%></p>
                        <p class="card-text">City Id: <%=hangry.city_id%></p> -->
                        <button class="btn btn-primary">
                            <a class="text-light" href="/hangry/<%=hangry._id%>">View <%=hangry.title%></a>
                        </button>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<div id="reviews" class="p-2 mt-auto">
    <h2 class="text-center">Reviews: </h2>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card mx-3 my-2">
                <div class="card-body">
                    <h3 class="card-title mb-3">Author: Alex C</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, saepe sint
                        consequatur
                        nihil reiciendis
                        optio
                        fugiat ex totam at veniam corporis deserunt similique sunt minima laborum! Unde magnam modi
                        ipsam
                        perspiciatis
                        est similique corporis laudantium velit voluptates vel reprehenderit sequi non impedit, eos
                        maxime
                        necessitatibus dignissimos quo labore eum quos!</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mx-auto">
            <div class="card mx-3 my-2">
                <div class="card-body">
                    <h3 class="card-title mb-3">Author: Alex C</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, saepe sint
                        consequatur
                        nihil reiciendis
                        optio
                        !</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mx-auto">
            <div class="card mx-3 my-2">
                <div class="card-body">
                    <h3 class="card-title mb-3">Author: Alex C</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, saepe sint
                        consequatur
                        nihil reiciendis
                        optio

                        perspiciatis
                        est similique corporis laudantium velit voluptates vel reprehenderit sequi non impedit, eos
                        maxime
                        necessitatibus dignissimos quo labore eum quos!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/index.js"></script>
