<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/show.css">




<div id="main" class="container my-4 mh-75 text-center">

    <% if(hangryz.length == 0) { %>
    <h2>Sorry, no results found! Filter your search again!</h2>
    <button id="btn" class="text-center mx-auto btn btn-secondary mb-3" type="button">
        <a class="text-light" href="/hangry/<%=hangry._id%>">Back to filter your search</a>
    </button>
    <% } else { %>
    <h2 id="title2" class="pb-3 mt-2 text-center">Your results in
        <%=hangry.title%> </h2>
    <button id="btn" class="text-center mx-auto btn btn-secondary mb-3" type="button">
        <a class="text-light" href="/hangry/<%=hangry._id%>">Back to filter your search</a>
    </button>
    <% } %>



    <div class="mx-1 row">
        <!-- Show restaurants -->
        <%  for (let i = 0; i < hangryz.length; i++) { %>
        <% if(hangryz.length <= 2) { %>
        <div class="col-md-6 mx-auto my-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><%=hangryz[i].restaurant.name%></h4>
                    <% if(!hangryz[i].restaurant.thumbnail) {%>
                    <img class="container"
                        src="https://images.unsplash.com/photo-1515669097368-22e68427d265?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHN8ZW58MHwwfDB8&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <% } %>
                    <img class=" mb-3 container" src="<%=hangryz[i].restaurant.featured_image%>" alt="">
                    <p>Location: <%=hangryz[i].restaurant.locality%></p>
                    <p>Rating: <%=hangryz[i].restaurant.averageRating%> </p>
                    <form action="/hangry/<%=hangry._id%>/search" method="POST">
                        <button id="btn" class="text-center mx-auto btn btn-primary mb-3" type="submit"
                            value="<%=hangryz[i].restaurant.res_id%>" name="btn">More details
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <% } else {%>
        <div class="col-md-6 col-lg-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><%=hangryz[i].restaurant.name%></h4>

                    <!-- If no thumbnail, use default picture -->
                    <% if(!hangryz[i].restaurant.thumbnail) {%>
                    <img id="img" class="container blah"
                        src="https://images.unsplash.com/photo-1515669097368-22e68427d265?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHN8ZW58MHwwfDB8&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <% } %>
                    <!-- else use the thumbnail provided -->
                    <img class="mb-3 container" src="<%=hangryz[i].restaurant.featured_image%>" alt="">

                    <% if(hangryz[i].restaurant.averageRating >= 1) { %>
                    <p class="text-center">Rating: <%=hangryz[i].restaurant.averageRating%> </p>

                    <% } else { %>
                    <p>Not rated</p>
                    <% } %>

                    <div class="text-left">
                        <p>Location: <%=hangryz[i].restaurant.locality%></p>
                        <p class="">Phone number: <%=hangryz[i].restaurant.phoneNumber%></p>
                    </div>

                    <!-- WORKING ON FORM -->
                    <form action="/hangry/<%=hangry._id%>/search" method="POST">
                        <button id="btn" class="text-center mx-auto btn btn-primary mb-3" type="submit"
                            value="<%=hangryz[i].restaurant.res_id%>" name="btn">More details
                        </button>
                    </form>

                </div>
            </div>
        </div>
        <% }} %>
    </div>
</div>


<!-- <button class="mt-3 btn btn-secondary">
            <a class="text-light" href="/hangry">Back to all locations</a>
        </button> -->
</div>
</div>


<script>
    // window.location.reload()
</script>
