<% layout('layouts/boilerplate') %>


<div class="m-5">
    <!-- details -->
    <div class="card">
        <div class="row">
            <div class="text-center col-md-12 col-lg-5">
                <div class="card-body">
                    <h2 class="card-title">Location: <%=hangry.title%></h2>
                    <img class="mt-2 mb-1"
                        src="https://images.unsplash.com/photo-1504714146340-959ca07e1f38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=60"
                        alt="">
                    <!-- <p class="card-text">Type: <%=hangry.entity_type %>
                        <br> Entity Id: <%=hangry.entity_id %>
                    </p>
                    <p class="card-text">City: <%=hangry.city_name%> <br>Id Number: <%= hangry.city_id%></p> -->

                </div>
                <button id="btn" class="text-center mx-auto btn btn-secondary mb-3" type="button">
                    <a class="text-light" href="/hangry">Back to all locations</a>
                </button>
            </div>


            <div class="col-md-12 col-lg-7">
                <div class="card m-3 border-3 ">
                    <div class="container">
                        <div class="card-body">
                            <h3 class="card-title">Filter down your choices below:</h3>
                            <form action="/hangry/<%=hangry._id%>" class="needs-validation" novalidate method="post">
                                <!-- COUNT - max number of results display -->
                                <label for="count" class="form-label ">Count - Max Number of
                                    Results
                                    Displayed</label>
                                <input class="form-control mb-1" type="number" name="count" id="count" min="1" max="100"
                                    placeholder="Choose from 1 to 100" required>
                                <!-- <div class="valid-feedback"> -->
                                <!-- Looks good!
                        </div> -->


                                <!-- CUISINE -->
                                <label class="btn-block" for="cuisine_id">Pick a cuisine: </label>
                                <select class="select btn-block" id="cuisine_id" name="cuisine_id">
                                    <option value="<%=hangry.cuisine[0].cuisine_id%>">
                                        <%=hangry.cuisine[0].cuisine_name%>
                                    </option>
                                    <% for (let i = 1; i < hangry.cuisine.length; i++) {  %>
                                    <option value="<%=hangry.cuisine[i].cuisine_id%>">
                                        <%=hangry.cuisine[i].cuisine_name%>
                                    </option>
                                    <% } %>
                                </select>



                                <!-- ESTABLISHMENT -->
                                <label class="btn-block">Pick an establishment: </label>
                                <select class="select btn-block mb-3" id="establishment" name="establishment_id">
                                    <option value="<%=hangry.establishment[0].establishment_id%>" selected>
                                        <%=hangry.establishment[0].establishment_name%></option>
                                    <% for (let i = 1; i < hangry.establishment.length; i++) {  %>
                                    <option value="<%=hangry.establishment[i].establishment_id%>">
                                        <%=hangry.establishment[i].establishment_name%>
                                    </option>
                                    <% } %>
                                </select>


                                <button class="mt-2 btn btn-success btn-block">Search</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
