<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/restaurant.css">


<div class="text-center my-3">
    <h1 class="">Restaurant Search Page</h1>
    <button class="btn">
        <a class="btn btn-block bg-light" href="/hangry">Search another restaurant</a>
    </button>
</div>



<div id="map" style='width: 100%; height: 300px;'></div>

<!-- TEST -->
<div class="row gx-0">
    <div class="col-12 text-center bg-light sticky-top pt-2 border-bottom border-2">
        <form action="/hangry/restaurants/displayResults" method="POST">
            <label for="displayResults">Amount of results to display</label>
            <select name="displayResults" id="displayResults">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            <button id="btn" type="submit" class="border-0 bg-light text-success">Search</button>
        </form>
        <strong>
            <p class="mt-2">Found <%=user.restaurantSearch.length%> restaurants</p>
        </strong>
    </div>

    <!-- TEST -->
    <div class="col-sm-12 col-md-2 bg-light pr-0 ">

        <!-- FORM -->
        <div class="text-dark sticky-md-top">
            <form action="/hangry/restaurants/filter" method="POST">
                <div class="">
                    <h5 class="text-center mt-3 pb-2 border-bottom border-2">Sort By </h5>
                </div>
                <div class="text-left">
                    <div class="text-center">
                        <label class="form-check-label" for="autoSizingCheck1">
                            Rating<br>(Highest to Lowest)
                        </label>
                        <input class="btn-block" type="checkbox" id="autoSizingCheck1" value="rating" name="form" checked>
                    </div>
                </div>
                <div class="text-left pt-2">
                    <div class="text-center">
                        <label class="form-check-label" for="autoSizingCheck1">
                            Price <br>(Lowest to Highest)
                        </label>
                        <input class="btn-block" type="checkbox" id="autoSizingCheck2" value="averageCost" name="form">
                    </div>
                </div>
                <div class="">
                    <div class="mt-2">
                        <button type="submit" class="btn btn-block btn-secondary">Search</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="col-sm-12 col-md-10">

        <div class="text-center my-3">
            <div class="mx-1 row ">
                <!-- Show restaurants -->
                <%  for (let i = 0; i < hangryz.length; i++) { %>
                <div class="col-md-6 col-lg-4 col-xl-3 my-2">
                    <div class="card">
                        <div class="card-header text-center">
                            <form action="" method="POST">
                                <button class="text-center mx-auto btn btn-block" type="submit" value="<%=hangryz[i].restaurantSearch._id%>"
                                    name="favorite">Add to
                                    favorites
                                </button>
                            </form>
                        </div>
                        <div class="card-body">
                         
                            <img class="card-img-top" src="<%=hangryz[i].restaurantSearch.image_url%>" alt="">
                            
                            <% if (!hangryz[i].restaurantSearch.price) { %>
                                <h4 class="card-title"><%=hangryz[i].restaurantSearch.name%> </h4>
                                <p class="card-text">Rating: <%=hangryz[i].restaurantSearch.rating%> | Price: N/A</p>
                         
                            <% } else { %> 

                            <h4 class="card-title"><%=hangryz[i].restaurantSearch.name%> </h4>

                            
                           
                            <p class="card-text">Rating: <%=hangryz[i].restaurantSearch.rating%> | Price: <%=hangryz[i].restaurantSearch.price%> </p>

                        <% } %> 
                        

                            
                        </div>
                    </div>
                </div>
                <% } %>

            </div>
        </div>
    </div>
</div>


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const user = <%-JSON.stringify(user) %>

</script>
<script src="/javascripts/clusterMap.js"></script>
